<div class="section customer-register">
  <div class="page-width">
    <h1>{{ 'customer.register.title' | t }}</h1>

    {% form 'create_customer' %}
      <div class="field">
        <label for="FirstName">First name</label>
        <input type="text" name="customer[first_name]" id="FirstName" autocomplete="given-name">
      </div>

      <div class="field">
        <label for="LastName">Last name</label>
        <input type="text" name="customer[last_name]" id="LastName" autocomplete="family-name">
      </div>

      <div class="field">
        <label for="Email">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" autocomplete="email">
      </div>

      <div class="field">
        <label for="CreatePassword">{{ 'customer.login.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" autocomplete="new-password">
      </div>

      <button type="submit" class="button">{{ 'customer.register.submit' | t }}</button>
    {% endform %}
  </div>
</div>
