<div class="section customer-reset">
  <div class="page-width">
    <h1>Reset password</h1>

    {% form 'reset_customer_password' %}
      <div class="field">
        <label for="Password">{{ 'customer.login.password' | t }}</label>
        <input type="password" name="customer[password]" id="Password">
      </div>
      <div class="field">
        <label for="PasswordConfirmation">Confirm password</label>
        <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation">
      </div>
      <button type="submit" class="button">Reset</button>
    {% endform %}
  </div>
</div>
