<div class="section blog" {{ section.shopify_attributes }}>
  {% render 'page-banner',
    banner_title: blog.title,
    banner_image: section.settings.banner_image | default: blog.image,
    breadcrumb_preset: 'blog',
    breadcrumb_blog: blog
  %}

  <div class="page-width">
    {%- paginate blog.articles by 6 -%}
      <ul class="blog-list" role="list">
        {%- for article in blog.articles -%}
          <li class="blog-list__item">
            <h2>
              <a href="{{ article.url }}">{{ article.title | escape }}</a>
            </h2>
            {%- if article.excerpt != blank -%}
              <p>{{ article.excerpt | strip_html | truncate: 160 }}</p>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate %}
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "section-main-blog",
  "settings": [
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "Home / Blog"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ]
}
{% endschema %}
