<div class="section page-404" {{ section.shopify_attributes }}>
  {% render 'page-banner',
    banner_title: 'Page not found',
    banner_subtitle: section.settings.banner_subtitle | default: 'Home / 404',
    banner_image: section.settings.banner_image
  %}

  <div class="page-width text-center">
    <p class="page-404__message">{{ 'general.404.subtext' | t }}</p>
    <a href="{{ routes.root_url }}" class="button">{{ 'general.continue_shopping' | t }}</a>
  </div>
</div>

{% schema %}
{
  "name": "404",
  "tag": "section",
  "class": "section-main-404",
  "settings": [
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "Home / 404"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    }
  ]
}
{% endschema %}
